* {
    font-family: Georgia, sans-serif;
    line-height: 1.618em;
    box-sizing: border-box;
    
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(to right, #434343 0%, black 100%); 
   
}

html {
    font-size: 22px;
    color: rgb(199, 199, 199);
    margin-top: 3em;
}

h1, h2, h3 {
    color: rgb(243, 243, 243);
}

header,
main,
footer {
    margin: 0 auto;
    max-width: 800px;
}

h1 {
    font-family:Georgia,serif;
    color:whitesmoke;
    font-size:30px;
    line-height:1em;
    }
h3 {
    color: black;
}

header {
    padding: 2em 0;
}

header h1 {
    font-size: 3.5em;
}

header span {
    padding-left: 8px;
    font-size: 1.2em;
    color: rgb(187, 187, 187);
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

    display: flex;
    flex-flow: row;
    justify-content: center;

    height: 65px;

    background: rgb(0, 0, 0);
    border-radius: 7px;
    font-size:x-large;
}

nav a {
    padding: .5em 2em;
    text-decoration: none;
    color: white;
}

nav a:hover {
    background: #666;
}

section {
    margin: 1em 0;

    padding-top: 1em;
    min-height: 12em;
}

section > p {
    margin: 1em 0;
}

#projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 1em;
    color:rgb(0, 0, 0)
}

#projects article {
    background: #ccc;
    padding: 1em;
}

#projects article img {
    width: 100%;
    border: 1px solid #333;
}

#skills p1 {
    font-size: medium;
}

footer {
    margin-top: 2em;
    margin-bottom: 1em;
    background:black;
    color: whitesmoke;
    padding: 1em 0;
    text-align: center;
    border-radius: 7px;
}